/*
    Achille Bourgault - LangSelector
    GitHub: https://github.com/achillebourgault/LanguageSelectorPHP
    My Projects: http://achillebourgault.fr
*/

* {
  margin: 0;
  padding: 0;
}

.content {
  height: 100%;
}

body {
  background-image: url("heisenberg.png");
  background-position: center;
  background-repeat: no-repeat;
}

#inputLanguage {
  margin: 0 auto;
  width: 100px;
}

.test-message {
  margin-top: 30%;
  text-align: center;
}

.footer-msg {
  font-size: 17px;
  color: #fefefe;
  margin-top: 2%;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 10%;
  background: #151515;
  width: 100%;
  text-align: center;
}

.msg {
  margin-top: 20px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .test-message {
    margin-top: 85%;
  }

  .footer-msg {
    margin-top: 5%;
  }
}